<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Page</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <div id="container" class="container">
        <div class="nav">
            Home
        </div>
        <div id="content" class="content">
            <img src="logo.jpg" alt="Logo" id="logo" class="logo">
            <h1 id="text1" class="text1">Hii!</h1>
            <h1 id="text2" class="text2">Welcome</h1>
            <p id="text3" class="text3">This app helps you summarize a long article into short!</p>
        </div>
        <div id="button-container" class="button-container">
            <a href="./next.html">
                <button id="next-button" class="next-button">NEXT -&gt;</button>
            </a>
        </div>
    </div>
</body>

</html>