<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get free Summarization of your Document, text and Image here.</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="container">
        <h1>Offline Summarizer</h1>
        <form class="inputForm" id="summaryForm" enctype="multipart/form-data">
            <input type="text" id="textInput" name="text" placeholder="Enter text here...">
            <textarea id="summaryOutput" name="summary" placeholder="Summary will appear here..." readonly></textarea>
            <input type="file" id="fileInput" name="file">
            <input type="submit" value="Summarize">
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const summaryElement = document.getElementById('summaryOutput');
        const summaryForm = document.getElementById('summaryForm');

        summaryForm.addEventListener('submit', async (event) => {
            event.preventDefault();

            const text = document.getElementById('textInput').value;
            const fileInput = document.getElementById('fileInput').files[0];

            try {
                if (text.trim() !== '' && fileInput) {
                    console.error('Please provide either text or file, not both.');
                    return;
                }

                let formData = new FormData();

                if (text.trim() !== '') {
                    formData.append('text', text);
                    const response = await axios.post('http://127.0.0.1:8000/summarize_text', formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    });
                    summaryElement.textContent = response.data;
                } else if (fileInput) {
                    formData.append('file', fileInput);
                    const response = await axios.post('http://127.0.0.1:8000/summarize_files', formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    });
                    summaryElement.textContent = response.data;
                } else {
                    console.error('Please provide either text or file.');
                }
            } catch (error) {
                console.error('Error:', error);
                summaryElement.textContent = 'Error occurred while summarizing.';
            }
        });
    </script>
</body>

</html>